h1 {
	font-size: 8em;
	color: red;
}

ol {
	color: red;
}
h4 {
	color: brown;
}
p {
	color: orange;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 55%;
	float: right;


}
#first{
	color: gray;
}
