div{
	border-style: solid;
	border-color: red;
	margin: 5px;
}
#third > p{
	display: none;
}
#fourth h1{
	display: none;
}
div {
	border-style: solid;
	border-color:red;
	margin:5px; 
}
h1{
	display: none;
	}
#second div{
	display: none;
}


