div{
	border-style: solid;
	border-color: red;
	margin: 5px;
}
#third > p{
	display: none;
}
#fourth h1{
	display: none;
}
div {
	border-style: solid;
	border-color:red;
	margin:5px; 
	visibility: visible;
}


#second  {
	visibility: hidden;
}
#fifth {
	display: none;
}
p{
	display: none;
}
<<<<<<< HEAD
=======
#sixth  div {
	visibility: hidden;
}
img{
<<<<<<< HEAD:style.css
	visibility: visible;
}
=======
	display: none;
}
>>>>>>> 8f33cf54c7739b4f8564fcad4ab2b4e19c1f48c4


>>>>>>> eadad7a8d7f0b12a91358953e8e999223de3e178:style1.css
